.dashboard{
    margin-top: 100px;
}

.boxshadow{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 40px;
}

.boxshadow1{
    margin-top: 100px;
   
}

  
@media (max-width:550px){
     .boxshadow{
    padding: 30px;
    
    }
    
    }